@{
    ViewData["Title"] = "About DarkBatte";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="font-weight-bolder text-center">
        DarkBattle - final project for my course in ASP.NET course in SoftUni
    </div>
</div>
<div class="row">
    <p class="font-weight-bold">Idea</p>
</div>
<div class="row">
    <div class="col-6">
        <p>I allways liked to play games, and as young boy I played game as :</p>
        <div class="row">
            <p class="font-italic">Mu online</p>
        </div>
        <div class="row">
            <p class="font-italic">Warcraft III</p>
        </div>
        <div class="row">
            <p class="font-italic">Age of empires II</p>
        </div>
        <div class="row">
            <p class="font-italic">Word of Warcraft</p>

        </div>
        I have been interesetd in game mechanics , tactics and graphic design.
        I am not a artistic person, I am more a mathematical gay.
        I like solve different problems and fix errors, I am good at it.
        I am allways been fascinate about how things work, how they are build.
        
    </div>

</div>
